* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
  padding: 22.5px;
  font-family: "Inter", sans-serif;
  background-color: #090b1a;
}

span {
  color: #aa5cdb;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

main {
  margin: 100px auto;
  max-width: 456px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #1b1938;
  color: white;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
      grid-template-areas: "image" "text";
}

.title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
  grid-area: text;
  text-align: center;
}

h1 {
  font-size: 2.8rem;
}

.title > div > p {
  line-height: 2.8rem;
  font-size: 1.5rem;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.75);
}

.stats p {
  text-transform: uppercase;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.6);
}

.stats__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
}

.image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #aa5cdb;
  grid-area: image;
}

img {
  opacity: 0.5;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 924px) {
  body {
    height: 100vh;
  }

  main {
    margin: auto;
    max-width: 1000px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "text image";
  }

  .title {
    text-align: left;
  }

  .stats__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto;
  }

  .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}